* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}

/* Classes */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 2rem;
  text-transform: capitalize;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
  padding-left: 10px;
}
.strike {
  text-decoration: line-through;
}
.btn,
.btn-strike {
  width: 30%;
  height: 2rem;
  background-color: rgb(68, 68, 68);
  color: white;
  border: none;
}
.btn {
  margin-top: 20px;
}
.btn:hover {
  background-color: rgb(50, 50, 50);
}
.btn:active {
  background-color: rgb(26, 26, 26);
}
.btn-strike {
  border-radius: 10px;
}
.bg-dark {
  background-color: rgb(68, 68, 68);
  color: white;
}
.bg-white {
  background-color: white;
  color: black;
}

/* IDs */

#container {
  width: 100%;
  max-width: 500px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}
#input-container {
  width: 100%;
  text-align: center;
}
#input {
  width: 61%;
  height: 2rem;
  padding-left: 5px;
}
#list {
  width: 100%;
  margin-top: 20px;
}
